# 项目描述
  - 当前是微信小程序项目
  - 项目是记录“柠檬宝宝”每日喂养记录

# 概念及名词说明
  ## 柠檬宝宝
    - 即甲基丙二酸血症（MMA）患者宝宝
    - 此类患者对蛋白质的摄入有着严格的要求
    - 0-6个月大的宝宝主要以母乳+特奶喂养的方式，搭配着药物治疗
  
  ## 天然蛋白
    - 0-6个月的宝宝天然蛋白的摄入来源是母乳
  
  ## 特殊蛋白
    - 主要为特殊奶粉（当前为纽迪希亚一段）
  
  ## 一些指标说明
    - 母乳的蛋白质浓度为 1.1g/100ml
    - 特奶的蛋白质浓度为 13.1g/100g
    - 特奶冲配比例为 13.5g/90ml
    - 天然蛋白摄入系数为 1.2g/kg，即 1.2 克每公斤体重

  ## 每日喂养奶的方式
    - 一日 7-8 顿
    - 每顿奶都是母乳+特奶混合
    - 注意！柠檬宝宝每日的天然蛋白摄入满足的情况下，根据宝宝奶量酌情补充特奶
      - 比如：宝宝每顿要喝 120ml 的奶，今日体重为 4.35 kg
      - 那么今日摄入的天然蛋白量为：1.2 * 4.35 = 5.22 g
      - 根据母乳浓度 1.1g/100ml，换算出的每日母乳量为：5.22 / (1.1 / 100) = 475 ml
      - 如果按 8 顿算，那么每顿母乳的量为 475 / 8 = 59 ml
      - 如果每顿奶要喝 120ml，那么每顿的特奶就要喝 120 - 59 = 61 ml
  
  ## 每日药物用量
    - 精氨酸一日一次，一次 1.2 ml
    - 左卡尼丁一日俩次，一次 1.5 ml
    - AD 和 D3 俩种药物隔一天吃一次，比如周一吃 AD，周二吃 D3，周三 AD，周四 D3，如此方式吃药
    - B12 是两天打一次

# 计算说明
  ## 每日摄入蛋白质总量 = 天然蛋白摄入量 + 特殊配方奶蛋白摄入量
    - 该公式是根据俄每日公斤体重摄入蛋白质的系数计算的
    - 如果体重为 W kg，则每日天然蛋白摄入量就是 （1.2 * W）g
    - 特奶系数不固定，可根据特奶的浓度和体积以及体重计算

# 天维度记录方式
  # 按时间记录每日每顿的喂奶量（母乳+特奶）
    - 每顿的喂奶开始时间、结束时间
  # 按时间记录药物的食用时间
  # 记录每日的体重 kg
  # 记录宝宝出生了多少天

# 小程序风格
  - 主题偏向婴幼儿
  - 以柠檬色为主色调
  - 页面 UI 尽量生趣活泼

# 功能模块
  ## 今日记录
    - 展示记录的页面
    - 显示体重输入
    - 显示根据体重计算出的母乳总量
    - 显示开始时间、结束时间按钮
    = 显示喂药入口，点击喂药后，选择药物，选择时间
    - 点击结束时间按钮后记录当前喂奶的数据

# scrap

# task