# 流程逻辑

1. 首次进入小程序，进入角色选择页面
2. 选择角色后，选择角色（创建者、参与者），进入宝宝信息页面
3. （创建者）宝宝信息页面会填写宝宝信息
  - 包括宝宝姓名、出生日期、性别等
  - 填写天然蛋白质喂养系数，默认1.0
  - 重要的是会绑定创建者的手机号和选择宝宝天然蛋白喂养的方式：母乳或者普通奶粉
  - 选择母乳的话，需要填写母乳浓度，默认1.1g/100ml
  - 选择普通奶粉的话，需要填写奶粉浓度，默认值没有，需要自己填写，单位是g/100g
  - 选择普通奶粉，还需要填写冲配比例，默认值没有，需要自己填写，单位是g/xxml
4. 特殊蛋白选项
  - 需要填写特殊蛋白的蛋白质浓度，默认值没有，需要自己填写，单位是g/100g
  - 需要填写特殊蛋白的冲配比例，默认值没有，需要自己填写，单位是g/xxml
5.（参与者）选择角色后需要绑定创建者的手机号和自己的手机号
  - 绑定创建者手机号是为了共享宝宝信息，包括喂养记录，药物记录等
  - 绑定自己的手机号是为了区分角色的数据
6. 填完宝宝信息后，进入喂养页面，喂养页面的很多数据取值都是从宝宝信息中获取的
  - 喂养页面会显示宝宝信息，包括宝宝姓名、出生天数
  - 喂养页面会显示宝宝天然蛋白喂养的方式：母乳或者普通奶粉
  - 显示输入体重的输入框，默认从宝宝信息中获取
